#map {
  height: 25rem;
}

#map img {
  box-shadow: none;
  margin: 0;
}

.map-statistics {
  display: flex;
  justify-content: space-between;
  font-family: sans;
  font-size: 0.95rem;
}

.map-unit {
  font-size: 0.85rem;
}

.map-statistic .value {
  margin-bottom: -0.70rem;
}


