.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-height: 405px;
  overflow: hidden;
  list-style: none;
}

.image-gallery > li {
  flex: 1 1 auto; /* or flex: auto; */
  height: 200px;
  cursor: pointer;
  position: relative;
  margin: 0px;
}

.image-gallery::after {
  content: "";
  flex-grow: 999;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
  margin: 0px;
  box-shadow: 0 0 0 0;
}
