{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<div class="container">
		{{ block "main" . }}{{ end }}
	</div>
	{{ partial "footer.html" . }}
	{{ range .Site.Params.plugins_js }}
		<script src="{{ . }}"></script>
	{{ end }}
</body>
</html>
