{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	{{ partial "article.html" . }}
	{{ partial "footer.html" . }}
	{{ range .Site.Params.plugins_js }}
		<script src="{{ . }}"></script>
	{{ end }}
</body>
</html>
