{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<div id="container" class="content-page">
		<div class="divided">
			<h1 class="page-title">{{ .Title }}</h1>
		</div>
		<section id="main" class="outer">
			<section class="layout-wrap">
				<div class="layout-wrap-inner tag-cloud">
					{{ $site := .Site }}
					{{ $data := .Data }}
					<ul>
						{{ range $key, $value := .Data.Terms.Alphabetical }}
							<li>
								<a href="{{ $site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a> <strong>({{ $value.Count }})</strong>
							</li>
						{{ end }}
					</ul>
				</div>
			</section>
		</section>
	</div>
	{{ partial "footer.html" . }}
	{{ range .Site.Params.plugins_js }}
		<script src="{{ . }}"></script>
	{{ end }}
</body>
</html>
