@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body > header {
    background-color: var(--bg);
    border-bottom: none;
}

:root {
    --border: rgb(226, 226, 226);
    --text: rgb(94, 94, 94);
}

h1 {
    font-size: 38px;
    margin-top: 2.5rem !important;
}
h2 {
    font-size: 26px;
}
h1, h2 {
    color: rgb(27, 27, 27);
    font-weight: 400;
    font-family: "Lora", serif, system-ui;
}
.center-align {
    text-align: center;
}
.left-align {
    text-align: left;
}
article {
    text-align: left;
    margin: 0.2rem;
    border: none;
}

.registry-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media only screen and (max-width: 766px) {
    .registry-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
}

body {
    grid-template-columns: 1fr min(1160px, 97.5%) 1fr;
    font-family: "Lora", serif;
}

p, ul {
    font-size: 16px;
}

article > h3 {
    font-size: 18px;
}

hgroup > h1, hgroup > h2 {
    margin-bottom: 0rem;
}

h1 > a, h1 > a:visited {
    color: rgb(27, 27, 27);
}

hgroup {
    margin-bottom: 2.5rem;
}

article > img {
    width: 100%;
}

details {
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
    border-top: none;
    border-left: none;
    border-right: none;
    boder-radius: 0px;
}

summary {
    font-size: 22px;
    color: rgb(27, 27, 27);
    font-weight: 400;
}

button {
    font-family: "Yellowtail", serif, system-ui;
    font-weight: 400;
    color: rgb(27, 27, 27);
    background-color: var(--accent-bg);
    border: 1px solid var(--text);
}

em {
    font-size: 28px;
}

blockquote {
    text-align: left;
}

figure {
    position: relative;
    font-size: 22px;
}

figure > img {
    filter: brightness(75%);
}

figcaption {
    max-width: 700px;
    padding: 1rem;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg);
    font-size: 22px;
}

figcaption > h3 {
    margin-top: 0px;
}

figcaption > blockquote {
    color: var(--bg);
    font-style: normal;
    border: none;
    font-size: 26px;
}

figcaption > blockquote > cite {
    color: var(--bg);
}

.h-350 {
    border-radius: 5px;
    margin: 1rem;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.h-350 > * {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h-350 > img {
    max-width: initial;
}

@media only screen and (max-width: 590px) {
    .h-350 {
        height: 375px;
    }
    .h-350 > figure > img {
        max-width: initial;
    }
}

.faq-wrapper {
    display: grid;
    grid-template-columns: 1fr min(725px) 1fr;
}

.faq-wrapper > * {
    grid-column: 2;
}

@media only screen and (max-width: 766px) {
    .faq-wrapper {
        grid-template-columns: 0fr 1fr 0fr;
    }
}

summary {
    word-break: break-word;
}
