{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<div class="site-masthead">
	<h1>{{ .Site.Title }}</h1>
	<h2>{{ .Site.Params.subtitle }}</h2>
	</div>
<main class="home" id="main" aria-label="Content">
	<h1 class="content-title divided">
      Recent Posts
  	</h1>
	<div class="content list h-feed">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "==" "post") }}
		{{ range $paginator.Pages }}
			{{ partial "li.html" . }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</div>
    <!--
	<div class="archive">
		<h3><a href="{{ "archive" | absURL }}">View All Posts</a></h3>
	</div>
    -->
    <!--
	{{ partial "search.html" . }}
    -->
</main>
	{{ partial "footer.html" . }}
	{{ range .Site.Params.plugins_js }}
		<script src="{{ . }}"></script>
	{{ end }}
</body>
</html>
