{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
<div id="container" class="content-page">
	<div class="divided">
		<h1 class="page-title">Photos</h1>
	</div>
	<section id="main" class="outer">
		<div class="photos-grid-container" style="display: grid; grid-column-gap: 15px; grid-row-gap: 15px; grid-template-columns: 30% 30% 30%;">
			{{- $list := where .Site.Pages ".Params.images" "!=" nil -}}
			{{- $len := (len $list) -}}
			{{ range $index, $value := $list }}
				<a href="{{ .Permalink }}">
					{{ range first 1 .Params.images }}
						<img loading="lazy" src="{{ . }}" width="300" height="300" style="border-radius: 5px; max-width: 100%; height: auto;" class="photos-grid-item" />
					{{ end }}
				</a>
			{{ end }}
		</div>
	</section>
</div>
	{{ partial "footer.html" . }}
	{{ range .Site.Params.plugins_js }}
		<script src="{{ . }}"></script>
	{{ end }}
</body>
</html>
