{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
<div id="container" class="archives-page h-feed">
	<div class="divided">
		<h1 class="page-title">Archive</h1>
	</div>
	{{ partial "search.html" . }}
	<h1 class="content-title">Categories</h1>
	<section id="main" class="outer">
		<div class="archive_categories">
			{{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
				<p><a href="{{ "/categories/" | relURL }}{{ $name | urlize }}"> {{ $name }}</a></p>
			{{ end }}
		</div>
		<h1 class="content-title divided">All Posts</h1>
		<div class="archive_posts">
			{{ $list := (where .Site.Pages "Type" "post") }}
			{{ range $list }}
				<p class="h-entry" style="padding-bottom: 5px;">
					<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</time></a>
					{{ if .Title }}
						<span class="p-name">: <b>{{ .Title }}</b></span>
					{{ else }}
						<span class="truncated">: {{ .Summary | truncate 100 }}</span>
					{{ end }}
				</p>
			{{ end }}
		</div>
	</section>
</div>
{{ partial "footer.html" . }}
{{ range .Site.Params.plugins_js }}
	<script src="{{ . }}"></script>
{{ end }}
</body>
</html>
