<article class="post h-entry" itemscope="" itemtype="http://schema.org/BlogPosting" id="main" aria-label="Content">
	{{ if .Title }}
		<div class="divided">
			<h1 class="post-title p-name" itemprop="name headline">
				{{ .Title }}
			</h1>
		</div>
	{{ end }}
  {{ if (isset .Params "image") }}
    <figure>
      <img loading="lazy" class="u-featured" src="{{.Params.image}}" alt="">
    </figure>
  {{end}}
	<div class="post-content e-content">
  	{{ partial "map.html" .}}
		{{ .Content }}
	</div>
	{{ partial "post-meta.html" . }}
</article>
