<footer id="footer">
	<div class="outer">
		<div id="footer-info" class="inner site-navigation">
			<aside class="site-credits">
				<small>
					<ul>
						<li><a class="main-nav-link" href="{{ "feed.xml" | absURL }}">RSS</a></li>
						<li><a class="main-nav-link" href="{{ "feed.json" | absURL }}">JSON</a></li>
						{{ if templates.Exists "partials/surprise-me-head.html" }}
							<li><a class="main-nav-link" href="{{ "surprise-me" | absURL }}">Surprise Me!</a></li>
						{{ end }}
					</ul>
					© {{ now.Format "2006"}} {{ or .Site.Author.name .Site.Title }}
					<br />
					Powered by <a href="https://gohugo.io" target="_blank">Hugo</a>
				</small>
			</aside>
		</div>
	</div>
</footer>
