<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}</title>

	{{ partial "meta.html" . }}
	{{ partial "og.html" . }}

	{{ with .Site.Params.twitter_username }}
		<link rel="me" href="https://twitter.com/{{ . }}" />
	{{ end }}
	{{ with .Site.Params.github_username }}
		<link rel="me" href="https://github.com/{{ . }}" />
	{{ end }}
	{{ with .Site.Params.instagram_username }}
		<link rel="me" href="https://instagram.com/{{ . }}" />
	{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | absURL }}?{{ .Site.Params.theme_seconds }}">
	<link rel="stylesheet" href="{{ "css/image-gallery.css" | absURL }}?{{ .Site.Params.theme_seconds }}">
	{{ range .Site.Params.plugins_css }}
		<link rel="stylesheet" href="{{ . }}" />
	{{ end }}
	{{ range $filename := .Site.Params.plugins_html }}
		{{ partial $filename $ }}
	{{ end }}
</head>
