<header id="header-inner" class="site-masthead inner">
	<div class="menu">
		<nav id="main-nav" class="site-navigation">
			<ul>
				<li><a class="main-nav-link" href="{{ .Site.BaseURL }}">Home</a></li>
				<li><a class="main-nav-link" href="/recipe">Recipes</a></li>
				{{ range .Site.Menus.main }}
					<li><a class="main-nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</nav>
	</div>
</header>
