<article class="post h-entry" itemscope="" itemtype="http://schema.org/BlogPosting" aria-label="Content">
	{{ if .Title }}
		<div class="divided">
			<h1 class="post-title">
        <a class="archive-article-title u-url" href="{{ .RelPermalink }}">{{ .Title }}</a>
			</h1>
		</div>
        {{ if (isset .Params "images") }} 
        <div>
            <ul class="image-gallery">
                {{ range $i := .Params.images }}
                	{{ $src := substr $i 1 }}
                	{{ $image := resources.Get $src }}
                	{{ with $image }}
                    <li>
                    	<img loading="lazy" src="{{ ($image.Resize "x400 webp q50").Permalink }}" />
                    </li>
                  {{ end }}
                {{ end }}
            </ul>
        </div>
        {{ end }}
        {{ if (isset .Params "image") }}
            <figure>
                <img loading="lazy" class="u-featured" src="{{.Params.image}}" alt="">
            </figure>
        {{end}}
		{{ $stringToCheck := .Content }}
		{{ $results := substr $stringToCheck 0 30 }}
		{{ if in $results "--excerpt--" }}
			<div class="excerpt">
				<p>{{ .Summary }}</p>
			</div>
			<div class="continue">
				<p><a href="{{ .Permalink }}">Continue reading →</a></p>
			</div>
		{{ else if .Truncated }}
			{{ .Content | truncate 200 }}
			<div class="continue">
				<p><a href="{{ .Permalink }}">Continue reading →</a></p>
			</div>
		{{ else }}
			<div class="post-content e-content" itemprop="articleBody">
				{{ .Content }}
			</div>
		{{ end }}
	{{ else }}
		<div class="post-content e-content" itemprop="articleBody">
      {{ if (and (isset .Params "weight") (gt .Weight 0)) }}
          <img src="/pin.svg" alt="Pinned" style="width:24px;height:24px" class="icon pin" />
      {{ end }}
			{{ .Content }}
		</div>
	{{ end }}
	{{ partial "post-meta.html" . }}
</article>
