
{{ if (isset .Params "gpx") }}
	{{ if (isset .Params "gpx") }}
		<link rel="stylesheet" href="{{ "css/leaflet.css" | absURL}}" />
		<link rel="stylesheet" href="{{ "css/map.css" | absURL}}" />
		<script src="{{ "js/leaflet.js" | absURL}}"></script>
		<script src="{{ "js/gpx.min.js" | absURL}}"></script>
	{{ end }}
  <div id="map"></div>
  <div class="map-statistics">
    <div class="map-statistic">
      <div class="value">
        <span id="distance"></span>
        <span class="map-unit"> km</span>
      </div>
      <small class="label">Distance</small>
    </div>
    <div class="map-statistic">
  	  <div class="value" id="elapsed"></div>
  	  <small class="label">Elapsed Time</small>
    </div>
    <div class="map-statistic">
      <div class="value">
        <span id="speed"></span>
        <span class="map-unit"> kph</span>
      </div>
      <small class="label">Average Speed</small>
    </div>
  </div>
  <script>
  	{
  		const map = L.map('map');
  		
  		L.tileLayer(
  			'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
  			{
  				attribution: 'Map data &copy; <a href="http://www.osm.org">OpenStreetMap</a>'
				}
			).addTo(map);

			new L.GPX(
				{{ .Params.gpx }},
				{
					async: true,
					marker_options: {
    				startIconUrl: '/images/pin-icon-start.png',
    				endIconUrl: '/images/pin-icon-end.png',
    				shadowUrl: '/images/pin-shadow.png'
  				}
				}
			)
				.on(
					'loaded',
					(e) => {
						const duration = e.target.get_total_time();

						const seconds = ((duration / 1_000) % 60).toFixed(0).padStart(2, "0");
						const minutes = ((duration / (1_000 * 60)) % 60).toFixed(0).padStart(2, "0");
						const hours = ((duration / (1_000 * 60 * 60)) % 24).toFixed(0).padStart(2, "0");
						
						map.fitBounds(e.target.getBounds())
						document.getElementById("distance").innerText = (e.target.get_distance() / 1_000).toFixed(2);
						document.getElementById("elapsed").innerText = `${hours}:${minutes}:${seconds}`;
						document.getElementById("speed").innerText = e.target.get_moving_speed().toFixed(2);
					}
				)
				.addTo(map);
  	}
  </script>
{{ end }}
