<div class="post-meta">
  {{ if .Params.author }}
      By {{ .Params.author }}
  {{ end }}
  <div class="article-post-date">
    <time class="dt-published" datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">
      {{ .Date.Format "Jan 2, 2006" }}
    </time>
  </div>
	<div id="permalink">
	  <a class="permalink u-url" href="{{ .RelPermalink }}">
	    [Permalink]
	  </a>
	</div>
	{{ $Site := .Site }}
	{{ if .Params.categories }}
		<div class="cat-list">
			<span class="catlist">Posted in: </span>
			<span class="post-categories">
				<span class="article-category">
					{{ range $i, $e := .Params.categories }}
						{{ if gt $i 0 }}
							<span>•</span>
						{{ end }}
						<a class="article-category-link" href="{{ $Site.BaseURL }}/categories/{{ $e | urlize }}">
						  {{ $e }}
						</a>
					{{ end }}
				</span>
			</span>
		</div>
	{{ end }}
</div>
