<article
  class="post h-recipe hrecipe fn"
  itemscope=""
  id="main"
  aria-label="Content"
>
	{{ if .Title }}
		<div
		  class="divided"
		>
			<h1
			  class="post-title p-name"
			  itemprop="name headline"
			>
				{{ .Title }}
			</h1>
		</div>
	{{ end }}
  {{ if (isset .Params "image") }}
    <figure>
      <img
      	loading="lazy"
        class="u-featured u-photo"
        src="{{.Params.image}}"
        alt=""
      >
    </figure>
  {{ end }}
  <div>
  	<ul>
  	{{ range .Params.ingredients }}
  		<li class="p-ingredient">
  			{{ . }}
  		</li>
  	{{ end }}
  	</ul>
  </div>
	<div
		id="longform"
		class="post-content p-instructions"
		itemprop="articleBody"
	>
		{{ .Content }}
	</div>
	<div
	  class="email-reply"
	>
		{{ if templates.Exists "partials/reply-by-email.html" }}
  		<p>{{ partial "reply-by-email.html" . }}</p>
		{{ end }}
	</div>
	<div
	  class="conversation-link"
	>
		{{ if templates.Exists "partials/conversation-link.html" }}
  		<p>{{ partial "conversation-link.html" . }}</p>
  	{{ end }}
	</div>
	<div
	  class="post-meta"
	>
    {{ if .Params.author }}
        By {{ .Params.author }}
    {{ end }}
    <div
      class="article-post-date"
    >
      <time
        class="dt-published"
        datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}'
        itemprop="datePublished"
      >
        {{ .Date.Format "Jan 2, 2006" }}
      </time>
    </div>
		<div
		  id="permalink"
		>
		  <a
		    class="permalink u-url"
		    href="{{ .RelPermalink }}"
		  >
		    [Permalink]
		  </a>
		</div>
		{{ $Site := .Site }}
			{{ if .Params.categories }}
				<div
				  class="cat-list"
				>
					<span
					  class="catlist"
					>
					  Posted in:
					</span>
					<span
					  class="post-categories"
					>
						<span
						  class="article-category"
						>
							{{ range $i, $e := .Params.categories }}
								{{ if gt $i 0 }}
									<span>•</span>
								{{ end }}
								<a
								  class="article-category-link"
								  href="{{ $Site.BaseURL }}/categories/{{ $e | urlize }}"
								>
								  {{ $e }}
								</a>
							{{ end }}
						</span>
					</span>
				</div>
			{{ end }}
		</div>
</article>
{{ if .Site.Params.include_conversation }}
	<script
	  type="text/javascript"
	  src="https://micro.blog/conversation.js?url={{ .Permalink }}"
	></script>
{{ end }}
