{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
<div id="container">
	<section id="main" class="outer">
		<section class="archives-wrap">
			<div class="archive-tag-wrap">
				<span class="archive-tag">#{{ .Title | lower }}</span>
			</div>
			<div class="archives">
				{{ range .Paginator.Pages }}
				{{ partial "li.html" . }}
				{{ end }}
			</div></section>
		{{ partial "pagination.html" . }}
	</section>
	{{ partial "footer.html" . }}
</div>
		{{ range .Site.Params.plugins_js }}
			<script src="{{ . }}"></script>
		{{ end }}
</body>
</html>
